@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p><center><img src="~/images/1814088_attention_exclamation_warning_icon.png"/></center></p>
